/ListSumOfElements.class
/ListMaxElement.class
/List2ndMaxElement.class
/ListReverse.class
/ListSortElemnts.class
/ListSearchElement.class
/ListOccuranceOfElements.class
/ListRemoveDuplicate.class
/ArrayListintoHastList.class
/ReplaceSpecifElement.class
/ListPrintBetweenRange.class
/TreeSetSort.class
/TreeSetPractilcle.class
/Stackpracticle.class
/MapMapImplementation.class
